@{
    ViewBag.Title = "Rewards";
}


<div id="botonera">
    <p>
        Here are a few ways you can spend £50 in Azure.
    </p>
</div>

<div id="boxes">
    <a href="@Url.Action("Step1","Home")" class="boxclicker">
            <div class="box">
                <div class="boxTitle"><span class="boxTitledes">Windows Server 2012 R2 VM</span> <div class="medalla"> <img src="images/medalla.png" /> </div></div>
                <img src="images/box-01.jpg" />
                <div class="boxContent">
                    <div class="boxTime">
                        10 min
                    </div>
                    <div class="boxPrice1">
                        £50
                    </div>
                    <div class="boxPrice2">
                        £0
                    </div>
                    <div class="clear"></div>
                    <div class="boxButton">
                        Get Started
                    </div>
                </div>
            </div>
        </a>
    <a href="@Url.Action("Step2","Home")" class="boxclicker">
            <div class="box">
                <div class="boxTitle"><span class="boxTitledes">A Windows 10 VM</span> <div class="medalla"> <img src="images/medalla.png" /> </div></div>
                <img src="images/box-02.jpg" />
                <div class="boxContent">
                    <div class="boxTime">
                        20 min
                    </div>
                    <div class="boxPrice1">
                        £50
                    </div>
                    <div class="boxPrice2">
                        £0
                    </div>
                    <div class="clear"></div>
                    <div class="boxButton">
                        Get Started
                    </div>
                </div>
            </div>
        </a>
    <a href="@Url.Action("Step3","Home")" class=" boxclicker">
            <div class="box">

                <div class="boxTitle"><span class="boxTitledes">A SharePoint Farm </span> <div class="medalla"> <img src="images/medalla.png" /> </div></div>
                <img src="images/box-03.jpg" />
                <div class="boxContent">
                    <div class="boxTime">
                        10 min
                    </div>
                    <div class="boxPrice1">
                        £50
                    </div>
                    <div class="boxPrice2">
                        £0
                    </div>
                    <div class="clear"></div>
                    <div class="boxButton">
                        Get Started
                    </div>
                </div>
            </div>
        </a>



</div><!-- CIERRO CONTAINER -->

<div id="asterisco">Rewards can only be sent to UK residents. * Costs are estimated and expressed in British Pounds and vary based on parameters such as size of the computational units, bandwidth or storage used. Those subscribers MSDN, BizSpark members or users with passes can use these services for free if they have sufficient credit from these programs.</div>
