@model AzureRewards.Models.RewardApplication
@{
    ViewBag.Title = "Rewards";
}

<div class="instructions">
    <h1>Congratulations, you did it.</h1>
    
    <p>
        To claim your reward, Send an email to AzChamp@@microsoft.com with the following details:
    </p>
    <br />
    <br />
    Your site name which is: @Model.Websitename<br />
    Your Full Name<br />
    And a phone number we can reach you on.<br />



</div>