@{
    ViewBag.Title = "Rewards";
}

<div class="instructions">
    <h1>Create a Windows 10 VM</h1>
    <p>
		The next version of Windows is engineered for the way you live and work, protected against cyber risks and threats, and managed for continuous innovation. Need more information? See what's new in Windows 10 Technical Preview for Enterprise. This VHD contains a preview release and may only be used for development and testing purposes. The VHD won't be serviced or supported for production use.

	</p>
	<p>To create the VM <a href="https://portal.azure.com/#gallery/Microsoft.Windows10TechnicalPreviewforEnterprisex64">visit this link</a> and follow the instructions. Change the pricing tier to A2, that way you will be able to get to the required £50 spend within a month.</p>
</div>