@{
    ViewBag.Title = "Rewards";
}
<div class="instructions">
    <h1>Set up a Windows Server 2012 R2</h1>
    <p> Follow <a href="https://portal.azure.com/#gallery/Microsoft.WindowsServer2012R2Datacenter">this link to create a new Windows Server 2012 R2 VM</a>, You will need to enter a hostname (choose any name you like) and a username and password. Note down your username and password as you will need them later should you wish to remote connect to the VM. </p>
	<p>
		The default pricing tier is A1, to get to the required £50 spend, it's probably easier to switch to an A2 pricing tier. This gives you a more powerful Virtual Machine and so costs more to run. It will take around 20 days to get to the required £50 spend with the A2 pricing tier.
	</p>
	<p>
		To learn how to connect and use the VM follow the instuctions on the <a href="https://msdn.microsoft.com/library/azure/dn535788.aspx">Azure documentation.</a> 
	</p>
</div>