.navbar {
	background-color:#000;
	height:50px;
	margin-top:-10px;
}
	.navbar > ul > li > a {
		color:#fff;
		text-decoration:none;
		font-family: "Segoe UI Light", Tahoma, Helvetica;
		float:left;
		margin-top:18px;
		margin-right:20px;
	}
	.navbar > ul > li > a:hover {
		color:rgba(127, 185, 0, 1);
	}

.nav {
	margin:auto auto;
	width:1030px;
}


@media screen and (min-width: 769px) and (max-width: 1024px) {

	.nav {
		margin:20px;
		width:100%;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.nav {
		margin:20px;
		width:100%;
	}
}

@media screen and (min-width: 321px) and (max-width: 480px) {
	.nav {
		margin:20px;
		width:100%;
	}
}

@media screen and (min-width: 50px) and (max-width: 320px) {
	.nav {
		margin:20px;
		width:100%;
	}
}